html {
  overflow: hidden;
  height: 100%;
  background:
    radial-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 1)),
    linear-gradient(90deg, dimgrey 1px, transparent 1px),
    linear-gradient(dimgrey 1px, grey 1px);
  background-size:
    100%,
    2px 1px,
    1px 2px;
}
.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  top: 50%;
  left: 140px;
  margin: -117px;
  width: 248px;
  height: 248px;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background:
    repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size:
    100%,
    218px 218px,
    218px 218px,
    100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px;
  left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 108px;
  height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #ffff;
  background-color: #0a0a0f;
  width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  height: 100vh;
  /* justify-content: center; */
}

header {
  align-self: center;
  margin: auto;
  width: 78vw;
  background-color: #05050a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(68, 68, 68) 0px 0px 60px 0px;
  height: 70px;
  padding: 0 15px;
}
header img {
  padding: 7px;
  width: 25px;
  border-radius: 50%;
  background-color: #00dc37;
  transition: transform 2s ease-in-out, ;

}
header img:hover{
transform: rotate(180deg);
}
.radar-section:hover{
border-color: #00dc37;
}
header button {
  display: flex;
  align-items: center;
  gap: 5px;
}
@keyframes colorr {
  0% {
   color: #00dc37;
  }

  50% {
      color: #04621d;

  }
}
header button {
  color: #259a3d;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  padding: 7px 15px;
  border: 1px solid #259a3d;
  background-color: #0a0a0f;
}
header button i:nth-of-type(2) {
  font-size: 8px;
}

header button i:nth-of-type(1) {
    animation:2s ease-in-out  infinite;
    animation-name: colorr;
  font-size: 12px;
  color: #04621d;
}

main {
  padding: 20px 20px 0 20px;
  margin: auto;
  width: 75vw;
  height: calc(100% - 20px);
  align-self: start;
}

.radar-section {
  position: relative;
  border: 0.5px solid #20252a;
  background-color: #140f1e;
  border-radius: 16px;
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 270px;
}
.radar-data-section {
  grid-column: 2/3;
  align-self: center;
}
.radar-data-section p:nth-of-type(odd) {
  margin-top: 10px;
  color: #00dc37;
  font-size: 29px;
}
.radar-data-section p:nth-of-type(even) {
  margin-top: 10px;
}

.button-section {
  margin: 30px 0;
  display: flex;
  gap: 1rem;
}

.button-section button {
  border-radius: 18px;
  border: 0.5px solid #20252a;
  background-color: #140f1e;
  padding: 10px 15px;
  color: white;
}
.button-section button i {
  margin-right: 3px;
}
.button-section button span {
  margin-right: 6px;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}
.card-section {
  border-radius: 18px;
  border: 0.5px solid #20252a;
  background-color: #140f1e;
  padding: 15px 18px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
.card-section:nth-of-type(odd) {
  box-shadow: -8px 0px 1px 0px #00dc37;
}
.card-section:nth-of-type(even) {
  box-shadow: -8px 0px 1px 0px #836618;
}
.card-section:nth-of-type(even) .denger-level {
  border: 0.5px solid #836618;
  color: #836618;
  background-color: #48350f;
}
.denger-level {
  background-color: #41162d;
  color: #931f46;
  border-radius: 5px;
  border: 0.5px solid #931f46;
  align-self: center;
  padding: 5px 10px;
  font-size: smaller;
  max-width: 75px;
  display: flex;
  justify-content: center;
}
.status {
  align-self: center;
  font-size: smaller;
  justify-self: end;
  color: grey;
}
.card-section p {
  align-self: center;
  grid-row: 2/2;
  grid-column: 1/3;
}
.card-section section {
  grid-row: 3/3;
  grid-column: 1/3;
  display: flex;
  align-items: center;
}
.grin-thing {
  overflow: hidden;
  border-radius: 18px;
  width: 83%;
  height: 7px;
  background-color: white;
}
.card-section:nth-of-type(2) .grin-thing div {
  width: 49%;
}
.card-section:nth-of-type(3) .grin-thing div {
  width: 15%;
}
.card-section:nth-of-type(4) .grin-thing div {
  width: 89%;
}
.grin-thing div {
  width: 65%;
  height: 100%;
  background-color: #00dc37;
}
/* .card-section section p {
  display: inline-block;
  margin-left: 5px;
} */

.threat-detected {
  width: 100%;
  color: #931f46;
  background-color: #41162d;
  border: 0.5px solid #931f46;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 27px;
  padding: 20px;
  font-size: 25px;
  font-weight: 900;
  position: relative;
}
.threat-detected i {
  position: absolute;
  font-size: 15px;
  top: 10px;
  left: 13px;
}
footer {
  box-shadow:
    rgba(255, 255, 255, 0.25) 0px 30px 60px -12px,
    rgba(255, 254, 254, 0.3) 0px 18px 36px -18px;
  width: 100vw;
  background-color: #05050a;
}
footer nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-section button:hover{
    background-color:#04621d ;
    border-color:#00dc37 ;
    transform: translateY(-5px);
}
footer nav button:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  left: 25%;
}


footer nav button:nth-of-type(1):before {
  border-bottom: 1px solid #00dc37;
}

footer nav button {
  position: relative;
  border: none;
  background: inherit;
  color: gray;
  height: 80%;
}
footer nav button img{
    width: 30px;
    margin-bottom: 5  3px;
}
footer nav button:nth-of-type(1) p {
  color: #00dc37;
    padding-bottom: 10px;
}
@media (486px <= width <= 768px) {
  main {
    overflow-y: auto;
    max-width:70vw ;

  }
  .radar-section {
    grid-template-columns: 1fr;
    grid-template-rows: 290px 1fr;
  }
  .radar {
    top: 150px;
    left: 50%;
  }
  .radar-section {
    width: 65vw;
    height: 420px;
  }
  .button-section{
    justify-content: space-evenly;
  }
  .radar-data-section {
    grid-column: 1/2;
    grid-row: 23;
    justify-self: center;
    /* height: 500px; */
  }
  .cards-section {
    display: flow-root;
  }
  .card-section {
    width: 65vw;
    margin-top: 20px;
  }
  .threat-detected {
    width: 64   vw;
  }
}
